<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>会员中心-我的推荐</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="css/head.css" rel="stylesheet" type="text/css"/>
    <link href="css/member.css" rel="stylesheet" type="text/css"/>
    <link href="css/foot.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
</head>
<body>
<!--头部开始-->
<div id="wrap">
    <div class="header clear">
        <div class="head">
            <div class="welcome">满泽装饰效果图欢迎您！</div>
            <div class="reg"><a href="javascript:void(0)" onclick="reg();">我要注册</a></div>
            <div class="reg"><a href="javascript:void(0)" onclick="log();">登录</a></div>
            <div class="log"><img src="images/log.png" onclick="show();"></div>
            <div class="rmb"><img src="images/rmb.png"></div>
            <div class="reg"><a href="javascript:void(0)" onclick="scans();">扫码支付</a></div>
            <div class="rmb"><img src="images/kehu.png"></div>
            <div class="reg"><a href="javascript:void(0)" onclick="pin();">客户点评</a></div>
            <div class="pic_r"><img src="images/houtai_s.png" onclick="show();"></div>
            <div class="pic_r"><img src="images/save_s.png" onclick="show();"></div>
            <div class="pic_r"><img src="images/weixin_s.png" onclick="show();"></div>
            <div class="pic_r"><img src="images/zfb_s.png" onclick="show();"></div>
        </div>

    </div>
    <div class="logo">
        <div id="logo"><img src="images/logo.png"/></div>
        <div class="search">
            <div>
                <input class="up" name="key" type="text" value=""/>
                <input id="search" type="submit" value="搜 索"/>

            </div>
            <div id="down">
                <div class="cate">
                    <a href="#" target="_self">客厅效果图</a> |
                    <a href="#" target="_self">餐厅效果图</a> |
                    <a href="#" target="_self">主卧效果图</a> |
                    <a href="#" target="_self">大厅效果图</a> |
                    <a href="#" target="_self">会议室效果图</a>
                </div>
            </div>
        </div>
        <div class="or">或者</div>
        <div class="ordol"><img src="images/ordol.png"></div>
        <div id="dbzf">
            <div class="up"><a href="#" target="_self"><img src="images/dbjyzf_s.png"/></a></div>
            <div class="down">服务热线：023-6292-2838</div>
        </div>
    </div>
    <style>
        .map_con_wrap{ z-index:9999; position:absolute; background:#FFF;width:229px; height:auto; top:40px;left:0; display: block;border-right:3px solid #000;}
        .map_con_wrap1{ z-index:9999; position:absolute; background:#FFF;width:229px; height:auto; top:40px;left:0; display: none;}
    </style>
    <!--分类导航-->
    <div class="menu_b">
        <div class="w1200">
            <div class="nav_btn" id="topnav_btn">
                <a href="javascript:void(0)" class="fl" target="_self">作品案例分类</a>
                <i class="sj"></i>
                <!--左侧商品分类-->
                <div class="map_con_wrap dn" id="topnav_con" style="display:none;">
                    <ul>
                        <li class="map_left_li active">
                            <div class="list_t">
                                <a href="#"><span>家装效果图</span></a>
                            </div>
                        </li>
                        <li class="map_left_li">
                            <div class="list_t">
                                <a href="#"><span>工装效果图</span></a>
                            </div>
                        </li>
                        <li class="map_left_li">
                            <div class="list_t">
                                <a href="#"><span>360全景图</span></a>
                            </div>
                        </li>
                        <li class="map_left_li">
                            <div class="list_t">
                                <a href="#"><span>方案深化图</span></a>
                            </div>
                        </li>
                        <li class="map_left_li">
                            <div class="list_t">
                                <a href=""><span>室外表现图</span></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--左侧商品分类 end-->
            </div>
            <ul class="menu">
                <li class="cur" id="Menu1">
                    <a href="../index.html" target="_self">首 页</a>
                </li>
                <li id="Menu2">
                    <a href="../customerservice/fuwuliucheng.html" target="_self">客户服务</a>
                </li>
                <li id="Menu3">
                    <a href="member_center.html" target="_self">会员中心</a>
                </li>
                <li id="Menu4">
                    <a href="../gongsijianjie.html" target="_self">关注我们</a>
                </li>
                <li id="Menu5">
                    <a href="../news.html" target="_self">新闻动态</a>
                </li>
            </ul>
        </div>
    </div>
    <!--分类导航-->
    <div class="clear">
    </div>
    <!--头部结束-->

	<div class="servicetop clear">
        <div class="top"><img src="images/position.png" width="22" height="18"/></div>
        <div class="position"><a href="index.html" target="_self">首页</a> > <a href="fuwuliucheng.html" target="_self">客户服务</a> > <a href="fuwuliucheng.html" target="_self">服务流程</a></div>
    </div>

    <div class="member clear">
        <div class="left clear">
            <div class="li2" onclick="clicks('1')">账户管理</div>
            <a href="zhanghuxinxi.html" target="_self"><div class="li1 li11">账户信息</div></a>
            <a href="zhanghuchongzhi.html" target="_self"><div class="li1 li11">账户充值</div></a>
            <a href="shouzhimingxi.html" target="_self"><div class="li1 li11">收支明细</div></a>
            <a href="mycard.html" target="_self"><div class="li1 li11">我的银行卡</div></a>
            <a href="tixianshenqing.html" target="_self"><div class="li1 li11">提现申请</div></a>
            <a href="myjifen.html" target="_self"><div class="li1 li11">我的积分</div></a>
            <a href="sendjifen.html" target="_self"><div class="li1 li11">预存送积分</div></a>
            <div class="li2" onclick="clicks('2')">订单管理</div>
            <a href="mydingdan.html" target="_self"><div class="li1 li21">我的订单</div></a>
            <a href="mydianping.html" target="_self"><div class="li1 li21">我的点评</div></a>
            <a href="fapiaoshenqing.html" target="_self"><div class="li1 li21">发票申请</div></a>
            <div class="li2" onclick="clicks('3')">资料管理</div>
            <a href="jibenziliao.html" target="_self"><div class="li1 li31">基本资料</div></a>
            <a href="mimaguanli.html" target="_self"><div class="li1 li31">密码管理</div></a>
            <a href="zhanghaobangding.html" target="_self"><div class="li1 li31">账号绑定</div></a>
            <a href="xiaoxizhongxin.html" target="_self"><div class="li1 li31">消息中心</div></a>
            <div class="li2" onclick="clicks('4')">我的特权</div>
            <a href="myrecommend.html" target="_self"><div class="li1 li41 on">我的推荐</div></a>
            <a href="viptequan.html" target="_self"><div class="li1 li41">VIP特权</div></a>
            <a href="sviptequan.html" target="_self"><div class="li1 li41">SVIP特权</div></a>
            <a href="gongsiyuejie.html" target="_self"><div class="li1 li41">公司月结</div></a>
        </div>

        <div class="right clear">
			<div class="mmi1">
                <div class="tit">我的推荐</div>
                <div class="cont clear">
                	<div class="up5 clear">
                		<div class="left">累计获得的佣金额：<span>4100元</span></div>
                		<div class="right">当前推荐的总人数：<span>10人</span><a href="#">点击查看</a></div>
                	</div>
                	<div class="link">您推荐的链接是：<span>http:www.wwwcad.com/?referraluserId=6891</span></div>
                	<div class="share clear">
                		<div class="left">
                			<div class="bshare-custom"><a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
                		</div>
                		<div class="right">手机扫一扫推荐朋友圈：<img class="sm1" src="images/sm1.png" onmouseover="shows()" onmouseout="hides()" width="35" height="35"/><img class="sm3" src="images/sm3.png" width="130" height="130"/></div>
                	</div>
                	<div class="list">
                        <table>
                            <tr>
                                <th>被推荐人的手机号码</th>
                                <th>发生的交易金额</th>
                                <th>获取的佣金金额</th>
                                <th>日期</th>
                                <th>备注</th>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                            <tr>
                                <td>13588888888</td>
                                <td>100.00</td>
                                <td><span>100.00</span></td>
                                <td>2016-01-09</td>
                                <td>家装效果图</td>
                            </tr>
                        </table>
                    </div>
                    <div>分页</div>
                </div>
            </div>
        </div>


    </div>
<script>
    	function clicks(id)
    	{
    		//alert(id);
    		$(".li1").hide();
    		$(".li"+id+"1").show();
    	}
    	function shows()
    	{
    		$(".mmi1 img.sm1").attr("src","images/sm2.png");
    		$(".mmi1 img.sm3").show();
    	}
    	function hides()
    	{
    		$(".mmi1 img.sm1").attr("src","images/sm1.png");
    		$(".mmi1 img.sm3").hide();
    	}
    	/*检测radio是否选中控制图片边框样式*/
    	function checks(id)
    	{
    		$(".radio>img").removeClass("on");
    		$("#r"+id).addClass("on");
    	}
    </script>

    <div class="footline1"></div>
    <!--尾部开始-->
    <div class="footer">
        <div class="single">
            <div class="about">
                <div class="title">新手指南</div>
                <div class="stitle"><a href="zixunredian.html">咨询热点</a></div>
                <div class="stitle"><a href="#">会员介绍</a></div>
                <div class="stitle"><a href="#">积分介绍</a></div>
            </div>
            <div class="about">
                <div class="title">交易保障</div>
                <div class="stitle"><a href="#">担保交易</a></div>
                <div class="stitle"><a href="#">客户保障</a></div>
                <div class="stitle"><a href="#">急速改图</a></div>
            </div>
            <div class="about">
                <div class="title">会员中心</div>
                <div class="stitle"><a href="#">我的点评</a></div>
                <div class="stitle"><a href="#">我的积分</a></div>
                <div class="stitle"><a href="#">我的订单</a></div>
            </div>
            <div class="about">
                <div class="title">关注我们</div>
                <div class="stitle"><a href="#">公司简介</a></div>
                <div class="stitle"><a href="#">公司资质</a></div>
                <div class="stitle"><a href="#">在线客服</a></div>
            </div>
            <div class="about1">
                <div class="up4">重庆满泽装饰设计有限公司</div>
                <div class="up5">TEL：023-6292-2838</div>
                <div class="down4">136-1823-7979/6832/6833/1789</div>
                <div class="down4">周一至周六9:00-20:00</div>
            </div>
        </div>
    </div>
    <div class="footer1">
        <div class="copy">Copyright @ 重庆满泽装饰设计有限公司 WWW.WWCAD.COM 版权所有并保留所有权利 ICP备案证书号：渝ICP备15012273号</div>
        <div class="bottom">
            <img src="images/zfb_f.png" width="128" height="47" alt="支付宝"/>
            <img src="images/zxw_f.png" width="128" height="47" alt="征信网"/>
            <img src="images/zxwz_f.png" width="128" height="47" alt="征信网站"/>
            <img src="images/360_f.png" width="128" height="47" alt="360网站"/>
        </div>
    </div>
</div>
</body>
</html>